@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  min-width: 3rem;
  min-height: 3rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border: 0.2rem solid #f3f3f3;
  border-top: 0.2rem solid #3498db;
  border-radius: 50%;
  background-color: #4c6ef5;
  animation: spin 2s linear infinite;
}

.cats-api-test-img {
  width: 30rem;
  height: 20rem;
  object-fit: contain;
  background-color: #91a7ff;
}
