.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 30rem;
  margin: 3rem 0;
  padding: 2rem;
  border-radius: 50rem;
  background-color: #3b5bdb;
  box-shadow: 0 0.8rem 0 0 rgb(31 53 157 / 100%);
  color: #edf2ff;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  transition-property: box-shadow, background, transform, color;
}

.button:not([disabled]):active {
  transform: translateY(0.4rem);
  box-shadow: 0 0.4rem 0 0 rgb(31 53 157 / 100%);
}

.button:not([disabled]):hover {
  background-color: #364fc7;
  color: #dbe4ff;
}

.button svg {
  min-width: 3rem;
  min-height: 3rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #4c6ef5;
  transition: all 0.1s ease-in-out;
  transition-property: fill, background;
}

.button:not([disabled]):hover svg {
  fill: #dbe4ff;
  background-color: #3b5bdb;
}

.button:hover .loader {
  background-color: #3b5bdb;
}

.button[disabled] {
  cursor: not-allowed;
  filter: grayscale(90%);
  opacity: 0.8;
}
