.card-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 10em;
  border-radius: 0.5em;
}

.card-photo img {
  max-width: 100%;
  border-radius: inherit;
  border: solid 0.1em #cdcdcd;
  margin-bottom: 0.5em;
}

.card-description {
  opacity: 0.5;
  font-size: 0.8em;
}
