.card {
  display: flex;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 1 auto;
  max-width: 30em;
  padding: 1.5em;
  gap: 1.5em;
  border-radius: 0.2em;
  background-color: #ededed;
  box-shadow: 0 0 0.6em 0.3em rgb(0 0 0 / 20%);
}

.card-rows {
  flex: 1 1 auto;
}
