.card-mood {
  display: flex;
  border: solid 0.1em #cdcdcd;
  border-radius: 0.5em;
  transition: all 150ms ease-in-out;
  transition-property: transform, box-shadow;
}

.active-card-mood {
  transform: scale(1.1);
  box-shadow: 0 0 1.5em 0.8em rgb(0 0 0 / 20%);
}

.not-valid {
  border: solid red 0.1em;
}

.card-mood-input {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-right: solid 0.1em #cdcdcd;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  background-color: transparent;
}

.card-mood-button {
  min-width: 2em;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  background-image: url('../../img/edit.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  transition-property: background-color, background-image;
}

.not-valid .card-mood-button {
  background-image: url('../../img/alert-circle.svg');
  background-color: rgb(255, 199, 199);
  cursor: not-allowed;
}

.card-mood-button:hover {
  opacity: 0.8;
}

.active-card-mood-button {
  background-image: url('../../img/save.svg');
  background-position: center;
  background-color: rgb(161, 245, 164);
}

.not-valid .card-mood-button:hover {
  opacity: 1;
}

.card-mood::after {
  position: absolute;
  top: 1em;
  left: 0;
  padding: 0.5em;
  background: #f14747;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  content: attr(data-tooltip);
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: 150ms;
}

.not-valid::after {
  top: 3em;
  opacity: 1;
}
